<h1>Users#show</h1>


<%= button_to 'Create New Garden', "/gardens/new", method: :get %>

<%# <% @gardens.each do |garden| %>
  <%# <%= link_to "#{garden.name}", "/gardens/#{garden.id}" %> %>
  <%# <%= link_to 'Delete This Garden', "/gardens/#{garden.id}", method: :delete %> %>
<%# <% end %> %> %>

<p>Find me in app/views/users/show.html.erb</p>
