
$theme-colors: (
  "primary": #067f0e,
);

body {
  background: url(asset-path("bg.jpg")) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
}

.user_garden {
  background: white;
  border: 2px solid green;
  padding: 2rem 0;
  text-align: center;
  // width: 34rem;
}


@import "bootstrap";
